@import "../../../styles/colors.scss";
@import "../../../styles/font-mixins.scss";


.item {
  margin: 40px 0;
  cursor: pointer;
  .header {
    margin-bottom: 10px;
  }
  
  .title {
    @include very-small-title-font($color-red-normal);
    font-family: 'Poppins', sans-serif;
    font-size: 3rem

  }
  
  .shortdescription {
    @include very-small-title-font($color-red-normal);
  }
  
}

