@import "../../../styles/font-mixins.scss";
@import "../../../styles/colors.scss";

.contact-page {
  

  &__main-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 60px;
    max-width: 1200px;
    margin: 0 auto;
    padding: 80px 20px;
  }

  &__text {
    max-width: 500px;
    padding: 25px;
    border: 2px solid #150c0c;
    border-radius: 15px;
    background: rgba(255, 255, 255, 0.06);
    backdrop-filter: blur(4px);
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.2);
  }

  &__text h1,
  &__text p,
  &__text strong {
    color: #0e0c0c;
    font-family: "Montserrat", sans-serif;
  }

  &__image img {
    max-width: 380px;
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.15);
  }
}

@media only screen and (max-width: 850px) {
  .contact-page__main-content {
    flex-direction: column;
  }
}
